body {
    font-family: Arial, sans-serif;
    text-align: center;
 }
 .start {
      height: 10lvh;
      width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .start button {
    background-color: white;
    color: black;
    border: 2px solid black;
    height: 50%;
    width: 10%;
    border-radius: 5px;
 }
#game {
    width: 80vw;
    height: 80lvh;
    position: relative;
    border: 2px solid black;
    margin: 20px auto;
    overflow: hidden;
 }
.target { 
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}
.result_box {
    display: none;
 }
.activeResult {
    display: block;
 }
 #score,#health{
    font-size: 1.2em;
    font-weight: 500;
 }
 @media screen and (max-width: 600px) {
    #game {
        width: 90vw;
        height: 80lvh;
    }
    .start button {
        width: 20%;
    }
    
 }