* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;

}

#grid {
    position: relative;
    top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    width: 70vh;
    height: 70vh;
    position: relative;
    display: none;
}

.box {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    cursor: pointer;
}

.box.active {
    background-color: limegreen;
    border: 2px solid black;
}

.heading {
    position: relative;
    top: 5%;
    font-size: clamp(0px, 2.3vw, 48px);
    width: 20vw;
    height: 10vh;
    font-weight: 600;
    font-family: monospace;
    border: 2px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    position: relative;
    top: 30%;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: 4px solid black;
    width: 10%;
    height: 5%;
    font-weight: bold;
}

#score, #health {
    position: relative;
    top: 5%;
    font-size: 2em;
    margin: 10px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    #grid {
        width: 100vw; /* Take full width on small screens */
        height: 80vh; /* Allow height to adjust */
    }
.heading {
    display: none;
}
#startButton {

    width: 30%;
    height: 10%;
}
}
/* Responsive score and health */
@media (max-width: 768px) {
    #score, #health {
        font-size: 1.5em; /* Reduce font size on smaller screens */
    }
}

#restartMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menuContent {
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
}

#restartButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}
#restartButton {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}